.bold {
  font-weight: bold;
}
.moved {
  transform: translateX(-30%);
}
/* ---------------------------- nicht ändern */

/* .line {
  backgroundColor: "rgb(0,0,0)";
  height:"1px";
 /* verticalAlign: "middle"; */
  /* position: "absolute";
  left: "250px";
  top: "28.9px";
  height: "3.4px";
  width: "30px" 
} */

.GraphundMethoden {
  display: flex;
  float: right;
  width: 81%;
}

.Methoden {
  position: relative;
  cursor: pointer;
  width: 100px;
  justify-content: flex-end;
}

.methodenEinblenden {
  cursor: pointer;
  float: right;
}

.RoundButton {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.iconPfeil {
  font-size: 2em;
  color: rgb(58, 58, 91);
  margin-right: 3px;
}

#methodenEinblenden {
  cursor: pointer;
  margin-left: 5%;

}

.auswahl {
  cursor: pointer;
  width: 400px;
  position: absolute;
   right: 10px;
  /* background-color: aliceblue; */
  
}

.moved{
 background-color: rgba(177, 177, 177, 0.326);
 border-radius: 1px;
 border-color: grey;
 border-radius: 5px;
 padding-right: 8px;
 padding-left: 8px;
}
  

.popup-content {
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  padding: 10px;
  background-color: white;
}

.NervNicht{
  position: absolute;
  width: 400px;
}



/* border-width: 1px;
    border-style: solid;
    border-color: black; */


 /* Lines */
 .line{
  position:relative;
    top: 5px;
 }
 
 .linelayout{
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 11%;
  margin-bottom: 10%;

 }

 .questionmark{
  
  padding-left: 30px;

 }